body
  margin: 0
  padding: 0

#gignal-stream
  background-color: background_color

  header
    background-color: background_color
    margin: 0 3px
    padding: 0 3px

    h1
      font-size: 2em
      text-transform: uppercase
      color: #fff

    a, img
      border: none

  .sm
    padding-top: 5px

    img
      width: 47px
      height: 47px
      margin-left: 5px


  #gignal-footer
    position: fixed
    right: -55px
    bottom: 80px
    //width: 180px
    z-index: 9999
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    transform: rotate(-90deg)
    //box-shadow: -3px -8px 3px -6px #000

    .flap
      position: relative
      background-color: #000
      opacity: 0.75
      width: 84px
      height: 100px
      margin: 0 auto

      img
        position: relative
        top: 8px
        height: 23px
        display: block
        margin: 0 auto
        border: none
