<div class="gignal-unibox">
  {{#photo}}
    <div class="gignal-image gignal-image-loading"></div>
  {{/photo}}
  {{#message}}
    <p class="message">{{{message}}}</p>
  {{/message}}
</div>

{{> footer}}
