<div class="gignal-unibox">
  {{#photo}}
    <div class="gignal-image" style="background-image:url('{{photo}}');"></div>
  {{/photo}}
  {{#message}}
    <p class="message">{{{message}}}</p>
  {{/message}}
</div>

{{> footer}}
